
body {
    background-color: #020f18;
  }
  
  .image {
      position:relative;
      float:none;
  }
  
  .outer-1{
    margin-top: 1em;
    color: #1496ee;
    background-color: #000000;
    width: 400px;
    padding: 10px;
    border: 3px solid #084b77;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px 3px #084b77;
    transition:all 0.8s ease;
  }
  
  
  .outer-1:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition:all 0.8s ease;
  }
  
  
  .inner-1 {
    margin:auto;
    color: #ffffff;
    background-color: #020f18;
    width:400px;box-shadow: 3px 3px 3px 3px #084b77;
    box-shadow: 1px 1px 1px 3px #1a1a1a;
    font-family:monospace;
    text-align:center;
  }
  .image .logo-text {
    position: absolute;
    top: 100%;
    left: 35.5%;
    font-weight: bold;
    font-size: 36px;
    font-family:monospace;
    color: #ffffff;
    text-shadow:2px 2px 2px #1496ee;
  }
  
  .logo-box-construction {
    margin-top:3em
    object-fit:fill;
    background-color: #020f18;
    height: 500px;
    background-clip:border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 3px 3px #084b77;
    margin-bottom: 5em;
    opacity: 0.3;
    transition: all 1.0s ease;
  }
  
  
  .logo-box-construction:hover
  {
    background-color: #020f18;
    background-clip:border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 3px 3px #084b77;
    margin-bottom: 5em;
    opacity:1;
    transition:all 1.0s ease;
  }
  
  
  .social-media-first{
    margin-top:0px;
    object-fit:scale-down;
    background-color: #020f18;
    height:50px;
    width:25%;
    /*background-clip:border-box;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 3px 3px #084b77;
    margin-bottom:0em;
    opacity: 0.4;
    transition:all;
  
  }
  
  
  .social-media{
    margin-top:0px;
    object-fit:scale-down;
    background-color: #020f18;
    height:50px;
    width:25%;
    /*background-clip:border-box;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 3px 3px #084b77;
    margin-bottom:0em;
    opacity: 0.4;
    transition:all 0.8s ease;
  
  }
  
  
  .social-media-first:hover{
    margin-top:0px;
    object-fit:scale-down;
    background-color: #020f18;
    height:50px;
    width:25%;
    /*background-clip:border-box;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 3px 3px #084b77;
    margin-bottom: 0em;
    opacity: 1.0;
    transition:all 0.8s ease;
  
  }
  
  
  
  .social-media:hover{
    margin-top:0px;
    object-fit:scale-down;
    background-color: #020f18;
    height:50px;
    width:25%;
    /*background-clip:border-box;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 3px 3px #084b77;
    margin-bottom: 0em;
    opacity: 1.0;
    transition:all 0.8s ease;
  
  }
  
  .forum-box{
    margin-top:1em
    object-fit:fill;
    background-color: #020f18;
    height:400px;
    background-clip:border-box;
    display: block;
    margin-left: 2em;
    margin-right: 2em;
    box-shadow: 1px 1px 1px 1px #084b77;
    margin-bottom: 2em;
    opacity: 0.3;
    transition:all 1.0s ease;
  
  }
  
  
  .forum-box:hover
  {
    background-color: #020f18;
    background-clip:border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 3px 3px #084b77;
    margin-bottom: 5em;
    opacity:1;
    transition:all 1.0s ease;
  }
  
  
  